.w3-theme-l5 {color:#000 !important; background-color:#fcf3ef !important}
.w3-theme-l4 {color:#000 !important; background-color:#f3d7ca !important}
.w3-theme-l3 {color:#000 !important; background-color:#e8ae96 !important}
.w3-theme-l2 {color:#fff !important; background-color:#dc8661 !important}
.w3-theme-l1 {color:#fff !important; background-color:#cf5e2e !important}
.w3-theme-d1 {color:#fff !important; background-color:#8b3f1f !important}
.w3-theme-d2 {color:#fff !important; background-color:#7c381b !important}
.w3-theme-d3 {color:#fff !important; background-color:#6c3118 !important}
.w3-theme-d4 {color:#fff !important; background-color:#5d2a14 !important}
.w3-theme-d5 {color:#fff !important; background-color:#4d2311 !important}

.w3-theme-light {color:#000 !important; background-color:#fcf3ef !important}
.w3-theme-dark {color:#fff !important; background-color:#4d2311 !important}
.w3-theme-action {color:#fff !important; background-color:#4d2311 !important}

.w3-theme {color:#fff !important; background-color:#9c4722 !important}
.w3-text-theme {color:#9c4722 !important}
.w3-border-theme {border-color:#9c4722 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#9c4722 !important}
.w3-hover-text-theme:hover {color:#9c4722 !important}
.w3-hover-border-theme:hover {border-color:#9c4722 !important}


.w3-text-theme-dark {color:#4d2311 !important}
.w3-text-theme-d1 {color:#8b3f1f !important}
.w3-theme-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}