html {
    --cornflower-blue-0: #dce6ee;
    --cornflower-blue-1: #b8cedf;
    --cornflower-blue-2: #93b7d2;
    --cornflower-blue-3: #6ba0c4;
    --cornflower-blue-4: #5a88a6;
    --cornflower-blue-5: #4b7089;
    --cornflower-blue-6: #3b596d;
    --cornflower-blue-7: #2d4352;
    --cornflower-blue-8: #1f2e39;
    --cornflower-blue-9: #121b21;
    --persian-blue-0: #e5e3f2;
    --persian-blue-1: #ccc8e6;
    --persian-blue-2: #b3addb;
    --persian-blue-3: #9b92d1;
    --persian-blue-4: #8477c9;
    --persian-blue-5: #6d60b1;
    --persian-blue-6: #574d8c;
    --persian-blue-7: #413a6a;
    --persian-blue-8: #2d2849;
    --persian-blue-9: #1a172a;
    --mulberry-0: #efdffa;
    --mulberry-1: #e1bff6;    
    --mulberry-2: #d39df2;    
    --mulberry-3: #c77aef;    
    --mulberry-4: #bc4fec;    
    --mulberry-5: #9f3cca;    
    --mulberry-6: #7f30a1;    
    --mulberry-7: #60247a;    
    --mulberry-8: #431955;    
    --mulberry-9: #270f32; 
    --heliotrope-0: #eee0f0;
    --heliotrope-1: #dfc2e3;
    --heliotrope-2: #d1a3d7;
    --heliotrope-3: #c582cc;
    --heliotrope-4: #b266ba;
    --heliotrope-5: #93549a;
    --heliotrope-6: #75437a;
    --heliotrope-7: #58325c;
    --heliotrope-8: #3d2340;
    --heliotrope-9: #231425;
    --raspberry-0: #f1e1e5;
    --raspberry-1: #e4c3cc;
    --raspberry-2: #d8a4b4;
    --raspberry-3: #cd859d;
    --raspberry-4: #be6785;
    --raspberry-5: #9d556e;
    --raspberry-6: #7d4458;
    --raspberry-7: #5e3342;
    --raspberry-8: #41232e;
    --raspberry-9: #26151b;
    --tangelo-0: #eee2dc;
    --tangelo-1: #e0c6b8;
    --tangelo-2: #d2aa93;
    --tangelo-3: #c48e6b;
    --tangelo-4: #a6795a;
    --tangelo-5: #89634b;
    --tangelo-6: #6d4f3b;
    --tangelo-7: #523c2d;
    --tangelo-8: #39291f;
    --tangelo-9: #211812;
    --cyan-0: #dce7e7;
    --cyan-1: #bacfcf;
    --cyan-2: #95b9b9;
    --cyan-3: #79a1a1;
    --cyan-4: #668989;
    --cyan-5: #547171;
    --cyan-6: #435a5a;
    --cyan-7: #324343;
    --cyan-8: #232f2f;
    --cyan-9: #141b1b;
    --sapphire-blue-0: #e3e4eb;
    --sapphire-blue-1: #c7cbd8;
    --sapphire-blue-2: #abb2c6;
    --sapphire-blue-3: #9099b6;
    --sapphire-blue-4: #7882a0;
    --sapphire-blue-5: #636b84;
    --sapphire-blue-6: #4e5569;
    --sapphire-blue-7: #3b404f;
    --sapphire-blue-8: #292c36;
    --sapphire-blue-9: #181a20;
    --violet-0: #e7e3eb;
    --violet-1: #d0c8d9;
    --violet-2: #baadc8;
    --violet-3: #a593b8;
    --violet-4: #8f7aa3;
    --violet-5: #766587;
    --violet-6: #5e506b;
    --violet-7: #463c51;
    --violet-8: #312a38;
    --violet-9: #1c1820;
    --fuschia-0: #ebe2e8;
    --fuschia-1: #d8c6d3;
    --fuschia-2: #c6aabf;
    --fuschia-3: #b58eab;
    --fuschia-4: #9e7694;
    --fuschia-5: #82617a;
    --fuschia-6: #684e61;
    --fuschia-7: #4e3a49;
    --fuschia-8: #362832;
    --fuschia-9: #1f171d;
    --red-0: #ebe3e3;
    --red-1: #d8c7c7;
    --red-2: #c7acac;
    --red-3: #b79191;
    --red-4: #a17878;
    --red-5: #856363;
    --red-6: #694f4f;
    --red-7: #4f3b3b;
    --red-8: #372929;
    --red-9: #201818;
    --amber-0: #e7e4dd;
    --amber-1: #d0cbbb;
    --amber-2: #bbb298;
    --amber-3: #a4997b;
    --amber-4: #8b8268;
    --amber-5: #726b56;
    --amber-6: #5b5544;
    --amber-7: #444033;
    --amber-8: #2f2c23;
    --amber-9: #1b1a14;
}