#logo {
    float: left;
    width: 200px;
    height: 40px;
    background: url(../images/Ella-logo-white.png) no-repeat center;
    display: block;
  }
.mySlides {display:none;}
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
  }
p {
    font-family: "Alegreya Sans", "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}
.contrast{
    font-family: "Source Serif 4";
    font-weight: 300;
  font-style: italic;
}
.bookpage {
  padding: 10%; 
}
.bookcover{
  width: 240px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 20px;
  margin-bottom: 20px;
}
.header {
    font-family: "Bebas Neue", "Raleway", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
  }
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.content {
    margin: 0px 5px;
}