#logo {
    float: left;
    width: 200px;
    height: 40px;
    background: url(../images/Ella-logo-white.png) no-repeat center;
    display: block;
  }
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
  }

p {
    font-family: "Alegreya Sans", "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}
.contrast{
  font-family: "Source Serif 4";
  font-weight: 300;
  font-style: italic;
}
.bookpage {
  padding-top: 10px;
  padding-left: 10px; 
}
.bookdetails p {
  font-family: "Roboto Condensed", serif;
  margin-top: 0px;
  margin-bottom: 0px;
}
.bookcover {
  width: 240px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}
.booklist{
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 160px));
  grid-auto-flow: dense;
}
.spacer {
  padding-bottom: 5px;
}
.booklist p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: small;
}
.booklist a {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}
.thumbnail{
  width: 125px;
  height: 190px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 20px;
  margin-bottom: 20px;
}
.bookcard{
  line-height: 16px;
  font-weight: 400;
  font-family: "Alegreya Sans", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header {
  font-family: "Bebas Neue", "Raleway", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-condensed-300 {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.content {
  margin: 0px 5px;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .bookcover {float: right;}
}


* {box-sizing: border-box;}

body, header.headbanner {
  background-color: #fff;
  transition: background 0.2s linear;
}

body.dark, body.dark .header, body.dark .headbanner {background-color: #292c35 !important;} /* #9b59b6 */

body.dark h1, body.dark h2, body.dark h6, body.dark a, body.dark p, body.dark figcaption {color: #fff !important;}
body.dark .w3-tag {color:#000 !important; background-color:#f3d7ca !important}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #cf5e2e;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  margin-top: 5px;
  margin-right: 15px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}


